<div class="container m-b-70">
    <h1 class="text-center text-white m-t-30">{{'APPLY-NEW_FATCA2_FATCA2_LABEL' | translate}} </h1>
    <div class="panel panel-default">
        <div class="panel-body art-content">
            <div class="grid-row">
                <div class="entry-content">
                    <div class="page-fatca entry-section-padding">
                        <div class="row-fatca">
                            <div class="h-fatca radio" ng-init="que4.checked=false">
                                {{'APPLY-NEW_FATCA2_QUE4_LABEL' | translate}}
                                <span class="col-r">
                                    <span class="inline-radio sm">
                                        <input type="radio" name="radiog_lite7" id="radio7" class="css-checkbox" ng-model="que4.checked" ng-value="true" />
                                        <label for="radio7" class="css-label radGroup1 radGroup1">{{'APPLY-NEW_FATCA2_QUE4-YES_RADIO-BUTTON' | translate}}</label>
                                    </span>
                                    <span class="inline-radio sm">
                                        <input type="radio" name="radiog_lite7" id="radio8" class="css-checkbox" ng-model="que4.checked" ng-value="false" />
                                        <label for="radio8" class="css-label radGroup1 radGroup1 radio-inline">{{'APPLY-NEW_FATCA2_QUE4-NO_RADIO-BUTTON' | translate}}</label>
                                    </span>
                                </span>
                            </div>
                            <div class="detail-fatca">
                                <p>{{'APPLY-NEW_FATCA2_QUE4-DESCRIPTION_LABEL' | translate}}</p>
                            </div>
                        </div>
                        <div class="row-fatca">
                            <div class="h-fatca radio" ng-init="que5.checked=false">
                                {{'APPLY-NEW_FATCA2_QUE5_LABEL' | translate}}
                                <span class="col-r">
                                    <span class="inline-radio sm">
                                        <input type="radio" name="radiog_lite9" id="radio9" class="css-checkbox" ng-model="que5.checked" ng-value="true" />
                                        <label for="radio9" class="css-label radGroup1 radGroup1">{{'APPLY-NEW_FATCA2_QUE5-YES_RADIO-BUTTON' | translate}}</label>
                                    </span>
                                    <span class="inline-radio sm">
                                        <input type="radio" name="radiog_lite9" id="radio10" class="css-checkbox" ng-model="que5.checked" ng-value="false" />
                                        <label for="radio10" class="css-label radGroup1 radGroup1 radio-inline">{{'APPLY-NEW_FATCA2_QUE5-NO_RADIO-BUTTON' | translate}}</label>
                                    </span>
                                </span>
                            </div>
                            <div class="detail-fatca">
                                <p>{{'APPLY-NEW_FATCA2_QUE5-DESCRIPTION_LABEL' | translate}}</p>
                            </div>
                        </div>
                        <div class="row-fatca">
                            <div class="h-fatca radio" ng-init="que6.checked=false">
                                {{'APPLY-NEW_FATCA2_QUE6_LABEL' | translate }}
                                <span class="col-r">
                                    <span class="inline-radio sm">
                                        <input type="radio" name="radiog_lite11" id="radio11" class="css-checkbox" ng-model="que6.checked" ng-value="true" />
                                        <label for="radio11" class="css-label radGroup1 radGroup1">{{'APPLY-NEW_FATCA2_QUE6-YES_RADIO-BUTTON' | translate}}</label>
                                    </span>
                                    <span class="inline-radio sm">
                                        <input type="radio" name="radiog_lite11" id="radio12" class="css-checkbox" ng-model="que6.checked" ng-value="false" />
                                        <label for="radio12" class="css-label radGroup1 radGroup1 radio-inline">{{'APPLY-NEW_FATCA2_QUE6-NO_RADIO-BUTTON' | translate}}</label>
                                    </span>
                                </span>
                            </div>
                            <!-- <div class="detail-fatca">
                                <p>{{'APPLY-NEW_FATCA2_QUE6-DESCRIPTION_LABEL' | translate}}</p>
                            </div> -->
                        </div>
                        <div class="row-fatca">
                            <div class="h-fatca radio" ng-init="que7.checked=false">
                                {{'APPLY-NEW_FATCA2_QUE7_LABEL' | translate}} <span class="col-r">
                                    <span class="inline-radio sm">
                                        <input type="radio" name="radiog_lite13" id="radio13" class="css-checkbox" ng-model="que7.checked" ng-value="true" />
                                        <label for="radio13" class="css-label radGroup1 radGroup1">{{'APPLY-NEW_FATCA2_QUE7-YES_RADIO-BUTTON' | translate}}</label>
                                    </span>
                                    <span class="inline-radio sm">
                                        <input type="radio" name="radiog_lite13" id="radio14" class="css-checkbox" ng-model="que7.checked" ng-value="false" />
                                        <label for="radio14" class="css-label radGroup1 radGroup1 radio-inline">{{'APPLY-NEW_FATCA2_QUE7-NO_RADIO-BUTTON' | translate}}</label>
                                    </span>
                                </span>
                            </div>
                            <!-- <div class="detail-fatca">
                                <p>{{'APPLY-NEW_FATCA2_QUE7-DESCRIPTION_LABEL' | translate}}</p>
                            </div> -->
                        </div>
                        <div class="row-fatca">
                            <div class="h-fatca radio" ng-init="que8.checked=false">
                                {{'APPLY-NEW_FATCA2_QUE8_LABEL' | translate}}
                                <span class="col-r">
                                    <span class="inline-radio sm">
                                        <input type="radio" name="radiog_lite15" id="radio15" class="css-checkbox" ng-model="que8.checked" ng-value="true" />
                                        <label for="radio15" class="css-label radGroup1 radGroup1">{{'APPLY-NEW_FATCA2_QUE8-YES_RADIO-BUTTON' | translate}}</label>
                                    </span>
                                    <span class="inline-radio sm">
                                        <input type="radio" name="radiog_lite15" id="radio16" class="css-checkbox" ng-model="que8.checked" ng-value="false" />
                                        <label for="radio16" class="css-label radGroup1 radGroup1 radio-inline">{{'APPLY-NEW_FATCA2_QUE8-NO_RADIO-BUTTON' | translate}}</label>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="row-fatca">
                            <div class="h-fatca radio" ng-init="que9.checked=false">
                                {{'APPLY-NEW_FATCA2_QUE9_LABEL' | translate }}
                                <span class="col-r">
                                    <span class="inline-radio sm">
                                        <input type="radio" name="radiog_lite17" id="radio17" class="css-checkbox" ng-model="que9.checked" ng-value="true" />
                                        <label for="radio17" class="css-label radGroup1 radGroup1">{{'APPLY-NEW_FATCA2_QUE9-YES_RADIO-BUTTON' | translate}}</label>
                                    </span>
                                    <span class="inline-radio sm">
                                        <input type="radio" name="radiog_lite17" id="radio18" class="css-checkbox" ng-model="que9.checked" ng-value="false" />
                                        <label for="radio18" class="css-label radGroup1 radGroup1 radio-inline">{{'APPLY-NEW_FATCA2_QUE9-NO_RADIO-BUTTON' | translate}}</label>
                                    </span>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center m-t-20 p-b-30">
        <button type="button" class="btn gray btn-mg" ng-click="goBackToFillStep1();">{{'APPLY-NEW_FATCA2_BACK_BUTTON' | translate}}</button>
        <button type="button" class="btn" ng-click="fatcaStep2Success();">{{'APPLY-NEW_FATCA2_NEXT_BUTTON' | translate}}</button>
    </div>
</div>
