<div class="m-b-70">
    <div class="row" ng-show="pageLoaded">
        <div class="art-content open-new-account">
            <div class="txt-center">
                <h1>{{'APPLY-INITIAL_ACCOUNT-OPENING_HEADER_LABEL' | translate }}</h1>
                <div class="row">
                    <div class="col col-md-2 text-white">
                        
                    </div>
                    <div class="col col-md-3 text-white">
                      
                            <div class="entry-img">
                                 <img class="m-t-25" src="img/apply-01.png"/>
                            </div>
                      
                        <span class="text-white relative-pos-2px">{{'APPLY-INITIAL_ACCOUNT-OPENING_LABEL1_LABEL' | translate }}</span>
                    </div>
                    <div class="col col-md-2 p-l-r-15">
                       
                            <div class="entry-img">
                                <img class="m-t-25" src="img/apply-02.png"/>

                            </div>
                       
                        <span class="text-white">{{'APPLY-INITIAL_ACCOUNT-OPENING_LABEL2_LABEL' | translate }}</span>
                        <br/>
                        <span class="text-center txt-regis">
                            <a ng-click="bankListLink();">{{"APPLY-INITIAL_BANK-LIST_LINK_LABEL" | translate}}</a>
                        </span>
                    </div>
                    <div class="col col-md-3">
               
                            <div class="entry-img">
                                <img class="m-t-1" src="img/apply-03.png"/>
                            </div>
                        
                        <span class="text-white relative-pos-2px">{{'APPLY-INITIAL_ACCOUNT-OPENING_LABEL3_LABEL' | translate }}</span>
                    </div>
                    <div class="col col-md-2 text-white">
                        
                    </div>
                </div>
                
            </div>
            
            <div class="text-center m-t-20">
                <button type="button" ng-click="utilities.gotoPage('prelogin.applytoc')" class="btn">{{'APPLY-INITIAL_ACCOUNT-OPENING_NEXT_BUTTON' | translate }}</button>
            </div>
        </div>
    </div>
</div>
