    <div class="container tmb-direct">
     <form name="newReg.prelogin" novalidate autocomplete="off">
      <h1 class="text-center text-white m-t-30">{{'APPLY-NEW_SCREEN3-CREATE-UNPW_TITLE_LABEL' | translate}}</h1>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="grid-row">
            <div class="registration form-style">
                  <div class="custom-row form-group overflow-shown">
                    <div class="col-md-3"> </div>
                    <div class="col-md-2 no-padding">
                    <label class="control-label col-lg">{{'APPLY-NEW_SCREEN3-CREATE-UNPW_USER-NAME_LABEL' | translate}}<span class="pink">*</span></label>
                    </div>
                    <div class="col-md-3">
                    <input ng-model="newReg.username"
                    ng-class="{invalidbox: (submitted==true && newReg.prelogin.username.$invalid) || blocklisted || invalidUsername || maxAttemptsReached || alreadyTaken}"
                    type="text"
                    id="username"
                    autocapitalize="off"
                    autocorrect="off"
                    autocomplete="off"
                    name="username"
                    class="form-control"
                    ng-minlength="8"
                    ng-maxlength="20"
                    maxlength="20"
                    prevent-copy-paste
                    user-name-validator
                    required />
                    <div class="pull-left tooltip-position">
                      <div class="tooltip-style">
                        <a class="btn-tooltip appicon-ico-navmain-09 appicon-1-50x">
                          <div class="tooltip">
                            <div class="tooltip-inner" ng-bind-html="usernameToolTipMsg">
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="ngMessagesClass" ng-messages="submitted==true && newReg.prelogin.username.$error" role="alert">
                      <div class="ngMessageClass" ng-message="required">{{'APPLY-NEW_SCREEN3-CREATE-UNPW_USER-NAME-ERROR_LABEL' | translate}}</div>
                      <div class="ngMessageClass" ng-message="minlength">{{'APPLY-NEW_SCREEN3-CREATE-UNPW_USER-NAME-ERROR_LABEL' | translate}}</div>
                      <div class="ngMessageClass" ng-message="userNameValidator">{{'APPLY-NEW_SCREEN3-CREATE-UNPW_USER-NAME-ERROR_LABEL' | translate}}</div>
                    </div>
                    <div class="ngMessagesClass" ng-show="blocklisted || invalidUsername || maxAttemptsReached || alreadyTaken ">
                        <div class="ngMessageClass" ng-if="blocklisted || invalidUsername || maxAttemptsReached">{{'SETTINGS-CHANGE-UN_CHANGE-UN_NEW-UN-ERROR_LABEL' | translate}}</div>
                        <div class="ngMessageClass" ng-if="alreadyTaken">{{'APPLY-NEW_SCREEN3-CREATE-UNPW_USER-NAME-ALREADYTAKEN-ERROR_LABEL' | translate}}</div>
                    </div>
                  </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="custom-row form-group overflow-shown">
                    <div class="col-md-3"></div>
                    <div class="col-md-2">
                    <label class="control-label col-lg">{{'APPLY-NEW_SCREEN3-CREATE-UNPW_NEW-PASSWORD_LABEL' | translate}} <span class="pink">*</span></label>
                    </div>
                    <div class="col-md-3">
                    <input type="password"
                    id="useroldpassword"
                    ng-class="{invalidbox: (submitted==true && newReg.prelogin.useroldpassword.$invalid) || blocklistedPwd}"
                    autocapitalize="off"
                    autocorrect="off"
                    autocomplete="off"
                    name="useroldpassword"
                    ng-model="newReg.useroldpassword"
                    class="form-control"
                    password-validator
                    ng-minlength="8"
                    ng-maxlength="20"
                    maxlength="20"
					ng-enter="setUsernamePassword()"
                    disallow-chars = "<,>,&"
                    prevent-copy-paste
                    required />
                    <div class="pull-left tooltip-position">
                      <div class="tooltip-style">
                        <a class="btn-tooltip appicon-ico-navmain-09 appicon-1-50x">
                          <div class="tooltip">
                            <div class="tooltip-inner" ng-bind-html="pwdToolTipMsg">
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="ngMessagesClass" ng-messages="submitted==true && newReg.prelogin.useroldpassword.$error" role="alert">
                      <div ng-message="required" class="ngMessageClass">{{'APPLY-NEW_SCREEN3-CREATE-UNPW_PASSWORD-ERROR_LABEL' | translate}}</div>
                      <div ng-message="minlength" class="ngMessageClass">{{'APPLY-NEW_SCREEN3-CREATE-UNPW_PASSWORD-ERROR_LABEL' | translate}}</div>
                      <div ng-message="maxlength" class="ngMessageClass">{{'APPLY-NEW_SCREEN3-CREATE-UNPW_PASSWORD-ERROR_LABEL' | translate}}</div>
                      <div ng-message="passwordValidator" class="ngMessageClass">{{'APPLY-NEW_SCREEN3-CREATE-UNPW_PASSWORD-ERROR_LABEL' | translate}}</div>
                      <!-- <div ng-if="sameUserName == true" class="ngMessageClass">{{'APPLY-NEW_SCREEN3-CREATE-UNPW_PASSWORD-ERROR_LABEL' | translate}}</div> -->
                    </div>
                    <div class="bar-password-field" ng-show="showPasswordStrength()">
                      <div class="password-check">
                        <span class="txt-xs">{{'APPLY-NEW_SCREEN3-CREATE-UNPW_SECURITY-LEVEL_LABEL' | translate}} : {{getPasswordStrengthText()}}</span>
                        <div class="checktransparent">
                          <span ng-class="{'strength strong': checkPasswordStrength() == 2, 'strength medium': checkPasswordStrength() == 1, 'strength weak': checkPasswordStrength() == 0}"></span>
                        </div>
                      </div>
                    </div>
                    <div class="ngMessagesClass" ng-show="blocklistedPwd">
                        <div class="ngMessageClass">{{'APPLY-NEW_SCREEN3-CREATE-UNPW_PASSWORD-ERROR_LABEL' | translate}}</div>
                    </div>
                  </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="custom-row form-group overflow-shown">
                    <div class="col-md-3"></div>
                    <div class="col-md-2">
                    <label class="control-label col-lg">{{'APPLY-NEW_SCREEN3-CREATE-UNPW_CONFIRM-NEW-PASSWORD_LABEL' | translate}} <span class="pink">*</span></label>
                    </div>
                    <div class="col-md-3">
                    <input type="password"
                    id="userpassword"
                    ng-class="{invalidbox: (submitted==true && newReg.prelogin.userpassword.$invalid) || blocklistedPwd}"
                    autocapitalize="off"
                    autocorrect="off"
                    autocomplete="off"
                    name="userpassword"
                    ng-model="newReg.userpassword"
                    class="form-control"
					ng-enter="setUsernamePassword()"
                    compare-to="newReg.useroldpassword"
                    required />
                    <div class="ngMessagesClass" ng-messages="submitted==true && newReg.prelogin.userpassword.$error" role="alert">
                      <div ng-message="required" class="ngMessageClass">{{'APPLY-NEW_SCREEN3-CREATE-UNPW_CONFIRM-PASSWORD-ERROR_LABEL' | translate}}</div>
                      <div ng-message="compareTo" class="ngMessageClass">{{'APPLY-NEW_SCREEN3-CREATE-UNPW_CONFIRM-PASSWORD-ERROR_LABEL' | translate}}</div>
                    </div>
                    <div class="ngMessagesClass" ng-show="blocklistedPwd">
                        <div class="ngMessageClass">{{'APPLY-NEW_SCREEN3-CREATE-UNPW_PASSWORD-ERROR_LABEL' | translate}}</div>
                    </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center m-b-70">
        <button type="button" ng-click="backButton()" class="btn darkblue btn-mg">{{'APPLY-NEW_SCREEN3-CREATE-UNPW_CANCEL_BUTTON' | translate}}</button>
        <button class="btn" type="button" ng-click="setUsernamePassword();">{{'APPLY-NEW_SCREEN3-CREATE-UNPW_NEXT_BUTTON' | translate}}</button>
      </div>
    </form>
  </div>
    <div class="push"></div>
