<div class="container tmb-direct m-b-70">
    <h1 class="text-center text-white">{{'APPLY-DIRECT_SCREEN6-LINK-ACC-COMPLETE_HEADER_LABEL' | translate}}</h1>
    <div class="grid-row white-bg" id="accounts_view">
        <div class="custom-row form-group">
            <div class="col-md-10">
                <h2>{{'APPLY-DIRECT_SCREEN6-LINK-ACC_TITLE1_LABEL' | translate}}</h2>
                <div ng-bind-html="linkAccMessageLabel"></div>
            </div>
        </div>
        <div class="row last">
            <form name="addLinkAccountForm" id="addLinkAccountForm" novalidate
                  ng-submit="accountEnquiryForNonTMB_AddEBA(eba)">
                <div class="row last">
                    <p class="m-l-20 m-b-20" ng-bind-html="messageLabel"></p>
                    <div class="block-responsive">
                        <div class="col-md-2">
                            <div class="image-container m-l-10">
                                <img ng-if="eba.bank.bankLogo" ng-src="{{eba.bank.bankLogo}}"
                                     class="bank-logo-size-80px">
                                <img ng-if="!eba.bank.bankLogo" src="img/logo-add-acc.png" class="bank-logo-size-80px">
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="custom-row form-style">
                                <div class="custom-row form-group">
                                    <div class="col-md-5 m-b-10">
                                        <label>{{'APPLY-DIRECT_SCREEN6-LINK-ACC_BANK-NAME_LABEL' | translate}} <span
                                            class="pink">*</span></label>
                                        <select ng-if="ebaCount === 0"
                                                name="banksList"
                                                required
                                                class="form-control disabled"
                                                data-ng-model="eba.bank"
                                                data-ng-options="bank.shortNameTH for bank in banksList"
                                                ng-disabled="true">
                                        </select>
                                        <select name="banksList"
                                                ng-if="ebaCount > 0"
                                                required
                                                ng-class="{'invalidbox': submitted === true && eba.bank.bankCD === ''}"
                                                class="form-control"
                                                data-ng-model="eba.bank"
                                                data-ng-options="bank.shortNameTH for bank in banksList"
                                                ng-change="validateBankToGetAccNum(eba.bank)">
                                            <option value=""
                                                    label="{{'APPLY-DIRECT_SCREEN6-LINK-ACC_CHECK-CHOOSE-BANK-LIST_LISTBOX' | translate}}"
                                                    disabled selected="selected"></option>
                                        </select>
                                        <div class="ngMessagesClass"
                                             ng-if="submitted === true && eba.bank.bankCD === ''" role="alert">
                                            <div class="ngMessageClass">
                                                {{'APPLY-DIRECT_SCREEN6-LINK-ACC_ERROR-MESSAGE_LABEL' | translate}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 m-b-10">
                                        <label>{{'APPLY-DIRECT_SCREEN6-LINK-ACC_ACCOUNT-NUMBER_LABEL' | translate}}
                                            <span class="pink">*</span></label>
                                        <div ng-if="eba.bank.IsTMBSelected">
                                            <select name="accountNumber"
                                                    class="form-control"
                                                    ng-class="{'invalidbox': submitted === true && eba.account.accNumber === ''}"
                                                    required
                                                    data-ng-model="eba.account"
                                                    data-ng-options="account.accNo for account in formattedAccList"
                                                    ng-change="getAccNameForTMBAccount(eba.account)">
                                                <option value=""
                                                        label="{{'APPLY-DIRECT_SCREEN6-SELECTED-BANK-TMB_ACCOUNT-NUMBER-VALUE_LISTBOX' | translate}}"
                                                        disabled selected="selected"></option>
                                            </select>
                                            <div class="ngMessagesClass"
                                                 ng-show="submitted===true && eba.account.accNumber === ''"
                                                 role="alert">
                                                <div class="ngMessageClass">
                                                    {{'APPLY-DIRECT_SCREEN6-LINK-ACC_ERROR-MESSAGE_LABEL' | translate}}
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-if="!eba.bank.IsTMBSelected">
                                            <input name="accountNumber"
                                                   id="accountNumber"
                                                   type="text"
                                                   numbers-only
                                                   ng-required="isAccountNumberInvalid===false"
                                                   data-ng-model="eba.account.accNumber"
                                                   class="form-control"
                                                   ng-class="{invalidbox: (submitted === true && addLinkAccountForm.accountNumber.$invalid) || isAccountNumberInvalid===true}">
                                            <div class="ngMessagesClass"
                                                 ng-messages="submitted===true && addLinkAccountForm.accountNumber.$error"
                                                 role="alert">
                                                <div ng-message="required" class="ngMessageClass">
                                                    {{'APPLY-DIRECT_SCREEN6-LINK-ACC_ERROR-MESSAGE_LABEL' | translate}}
                                                </div>
                                                <div ng-message="numbersOnly" class="ngMessageClass">
                                                    {{'APPLY-DIRECT_SCREEN6-LINK-ACC_ERROR-MESSAGE_LABEL' | translate}}
                                                </div>
                                            </div>
                                            <div class="ngMessagesClass" ng-show="isAccountNumberInvalid===true">
                                                <div class="ngMessageClass">
                                                    {{'APPLY-DIRECT_SCREEN6-LINK-ACC_ERROR-MESSAGE_LABEL' | translate}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="custom-row form-group">
                                <div class="col-md-5 m-b-10">
                                    <label>{{'APPLY-DIRECT_SCREEN6-LINK-ACC_ACCOUNT-NAME_LABEL' | translate}}</label>
                                    <input name="accountName"
                                           data-ng-model="eba.account.accName"
                                           ng-disabled="true"
                                           type="text"
                                           class="form-control">
                                </div>
                                <div class="col-md-5 m-b-10">
                                    <label>{{'APPLY-DIRECT_SCREEN6-LINK-ACC_ACCOUNT-NICKNAME_LABEL' | translate}} <span
                                        class="pink">*</span></label>
                                    <input name="ebAccountNickName"
                                           id="ebAccountNickName"
                                           type="text"
                                           stop-symbol-equal=""
                                           ng-maxlength="20"
                                           maxlength="20"
                                           data-ng-model="eba.account.nickName"
                                           class="form-control"
                                           ng-class="{invalidbox: submitted === true && addLinkAccountForm.ebAccountNickName.$invalid || isNickNameAlreadyExists === true}"
                                           required>
                                    <div class="ngMessagesClass"
                                         ng-messages="submitted==true && addLinkAccountForm.ebAccountNickName.$error"
                                         role="alert">
                                        <div class="ngMessageClass" ng-if="isNickNameAlreadyExists == true">
                                            {{'APPLY-NEW_SCREEN7-LINK-EBA-ADD_NICK-NAME-ERROR_LABEL' | translate}}
                                        </div>
                                        <div ng-message="required" class="ngMessageClass">
                                            {{'APPLY-DIRECT_SCREEN6-LINK-ACC_ERROR-MESSAGE_LABEL' | translate}}
                                        </div>
                                        <div ng-message="maxlength" class="ngMessageClass">
                                            {{'APPLY-DIRECT_SCREEN6-LINK-ACC_ERROR-MESSAGE_LABEL' | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-right responsive-m-r-apply-eba-add m-t-25">
                                <button type="button" ng-click="ebaAddBackButton()" class="btn darkblue m-r-10">
                                    {{'APPLY-DIRECT_SCREEN6-LINK-ACC_CANCEL_BUTTON' | translate}}
                                </button>
                                <button type="submit" class="btn btn-md-lg">
                                    {{'APPLY-DIRECT_SCREEN6-LINK-ACC_CHECK-ACCOUNT-NAME_BUTTON' | translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="text-center m-t-20 p-b-30"></div>
