<div class="container settings-link">
    <div class="art-content">
        <div class="txt-center">
            <div class="primary-inline">
                <h1 class="text-center text-white m-t-30">{{'APPLY-DIRECT_SCREEN8-CONFIRM-TIMEOUT_HEADER_LABEL' | translate}}</h1>
                <div class="text-center text-white m-t-30"><span ng-bind-html="confirmTimeoutMessage"></span></div>
            </div>
        </div>
    </div>
    <div class="m-b-70">
        <div class="text-center">
            <button type="button" ng-click="utilities.gotoPage('prelogin.registrationscreen1')" class="btn btn-md gray btn-mg m-t-b-15">{{'APPLY-DIRECT_SCREEN8-CONFIRM-TIMEOUT_APPLY-NEW_BUTTON' | translate}}</button>
            <button type="button" ng-click="utilities.gotoSplash()" class="btn m-t-b-15">{{'APPLY-DIRECT_SCREEN8-CONFIRM-TIMEOUT_CLOSE_BUTTON' | translate}}</button>
        </div>
    </div>
</div>
